/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  text-align: center;
  color: white;
  width: 600px;
  margin: 0 auto;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
