.devise-forms {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-facebook {
  text-align: center;
  display: block;
  background: #3b5998;
  padding: 5px;
  color: white;
  border-radius: 1px;
    opacity: 0.8;
  transition: all 200ms ease;
  &:hover {
  opacity: 1;
    color: white;
  }
}